{{ form_start(form) }}
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.vorname) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.adresse) }}
    </div>
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.kontakt) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.beschreibung) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        {{ form_row(form.foto) }}
    </div>
    <div class="col-sm-12 col-md-6">

        <img class="img-fluid" src="{{ personen.imagePath }}">

    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.user) }}
    </div>
</div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
