{% extends 'admin_base.html.twig' %}

{% block title %}Themen index{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Vorname</th>
                <th>Rollen</th>
                <th>Foto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for personen in personens %}
            <tr>
                <td>{{ personen.name }}</td>
                <td>{{ personen.vorname }}</td>
                <td>{{ personen.rollen ? personen.rollen|join(', ') : '' }}</td>
                <td>{{ personen.foto }}</td>
                <td>
                    <a href="{{ path('personen_show', {'id': personen.id}) }}">show</a>
                    <a href="{{ path('personen_edit', {'id': personen.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('personen_new') }}">Create new</a>
{% endblock %}
