{% extends 'admin_base.html.twig' %}

{% block title %}Articel index{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5>Articel index</h5>
            <a class="btn btn-outline-success" href="{{ path('admin_artikel:import') }}">Import</a>
            <a class="btn btn-outline-success" href="{{ path('admin_artikel:new') }}">Neu</a>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Thema</th>
                    <th>Datum</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for articel in pagination %}
                    <tr>
                        <td>{{ articel.titel }}</td>
                        <td>{{ articel.thema.titel }}</td>
                        <td>{{ articel.datum ? articel.datum|date('d-m-Y') : '' }}</td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('admin_artikel:bilder', {'id': articel.id}) }}">
                                <i class="fa fa-picture-o"></i>
                            </a>
                            <a class="btn btn-outline-warning" href="{{ path('admin_artikel:edit', {'id': articel.id}) }}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer justify-content-end">
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
