<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Uthlede - Admins</title>

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block scripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body data-turbo="false">

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a href="{{ path('app_home') }}">Uthlede.de</a> </div>
        <div class="list-group list-group-flush">
            <a href="{{ path('admin:dashboard') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="{{ path('admin_themen:index') }}" class="list-group-item list-group-item-action bg-light">Themen</a>
            <a href="{{ path('admin_artikel:index') }}" class="list-group-item list-group-item-action bg-light">Artikel</a>
            <a href="{{ path('user_index') }}" class="list-group-item list-group-item-action bg-light">User</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars"></i> </button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div class="container-fluid">
        {% block content %}

            <h1 class="mt-4">Dashboard</h1>

        {% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>