<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Uthlede.de! | offizielle Seite des Ortes Uthlede{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        {% block style %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <meta charset="UTF-8">


    </head>
    <body>
    {% block body %}

        <div class="container bg-light">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center bg-light">
                    <div class="col-4 pt-1">
                        <a class="link-secondary" href="{{ path('app_home') }}" aria-label="Logo">
                            <img src="{{ asset('/build/images/wappen_uthlede.png')|imagine_filter('squared_thumbnail_mini') }}" alt="wappen-von-uthlede"/>
                        </a>
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="{{ path('app_home') }}">UTHLEDE.DE</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        {#
                        <a class="link-secondary" href="#" aria-label="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                        </a>
                        #}
                        <a class="btn btn-sm btn-outline-secondary mx-1" href="{{ path('app_login') }}" target="_top">Login</a>
                        <a class="btn btn-sm btn-outline-secondary mx-1" href="{{ path('app_register') }}" target="_top">Registrieren</a>
                    </div>
                </div>
            </header>

            <div class="nav-scroller py-1 mb-2">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 link-secondary" href="#">Home</a>
                    <a class="p-2 link-secondary" href="#">Das Dorf</a>
                    <a class="p-2 link-secondary" href="#">Die Vereine</a>
                    <a class="p-2 link-secondary" href="#">Historisch</a>
                    <a class="p-2 link-secondary" href="#">Impressum</a>
                </nav>
            </div>
        </div>
        <main class="container">
    {% block content %}

            {#
            <div class="p-4 p-md-5 mb-4 text-white rounded main-storry">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
                    <p class="lead my-3">Multiple lines of text that form the lede, informing vcbvcbvnew readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
                </div>
            </div>
            #}


            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        {% for artikel in artikels %}
                            <div class="card news-card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="{{ artikel.imagePath|imagine_filter('squared_thumbnail_min_ob') }}" class="img-fluid" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ artikel.titel }}</h5>
                                            <p class="card-text d-flex justify-start">
                                                <small class="text-muted mx-1"><i class="fa fa-calendar me-1"></i>{{ artikel.datum|date('d.m.Y') }}</small>
                                                <small class="text-muted mx-1"><i class="fa fa-user me-1"></i>Otto Baur</small>
                                                <small class="text-muted mx-1"><i class="fa fa-folder me-1"></i>Dorfleben</small>
                                            </p>
                                            <p class="card-text">{{ artikel.haupttext|truncate(100)|raw }}</p>
                                            <p class="card-text">
                                                <a class="link-secondary" href="{{ path('app_artikel_view', { slug: artikel.slug }) }}">
                                                    Weiter lesen ...
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-4 mb-3 bg-light rounded">
                        <form>
                            <div
                                    class="input-group"
                                    {{ stimulus_controller('autocomplete') }}
                                    data-autocomplete-url-value="{{ path('app_artikel_list', { preview: 1 }) }}"
                            >
                                <input type="hidden" name="id" data-autocomplete-target="hidden"/>
                                <input
                                        name="q"
                                        placeholder="Suche..."
                                        type="text"
                                        class="form-control"
                                        data-autocomplete-target="input"
                                >

                                <div
                                        class="list-group search-preview overflow-auto"
                                        data-autocomplete-target="results"
                                >

                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="p-4">
                        <h4 class="text-center">Themen</h4>
                        <hr/>
                        <ul class="list-group">
                            {% for thema in themen %}
                                <a href="#">
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold link-main">{{ thema.titel }}</div>
                                        </div>
                                        <span class="badge bg-success rounded-pill">{{ thema.artikel }}</span>
                                    </li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Elsewhere</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">GitHub</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ol>
                    </div>
                </div>

            </div><!-- /.row -->


        {% endblock %}
        </main><!-- /.container -->

        <footer class="blog-footer container bg-green text-light">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 p-2">
                    <h4>Uthlede.de</h4>
                    <hr>
                    <p class="ms-3 mb-2">Otto Baur</p>
                    <p class="ms-3 mb-2">ConnyTrowitch</p>
                    <p class="ms-3 mb-2">Jörg Timm</p>
                </div>
            </div>

        </footer>

    {% endblock %}
    </body>
</html>
