{% extends 'admin_base.html.twig' %}

{% block title %}Themen{% endblock %}

{% block content %}
    <h1>Themen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titel</th>
                <td>{{ theman.titel }}</td>
            </tr>
            <tr>
                <th>Bild</th>
                <td>{{ theman.bild }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_themen:index') }}">back to list</a>

    <a href="{{ path('admin_themen:edit', {'id': theman.id}) }}">edit</a>

    {{ include('themen/admin/_delete_form.html.twig') }}

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Datum</th>
                    <th scope="col">Titel</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for artikel in artikels %}
                <tr>
                    <th scope="row">{{ artikel.datum|date('d.m.Y') }}</th>
                    <td>{{ artikel.titel }}</td>
                    <td>
                        <a href="{{ path('admin_artikel:edit', { id: artikel.id }) }}" class="btn">
                            <i class="fa fa-pencil"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
